<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Traspaso_de_Existencias.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Traspaso_de_Existencias.Properties.Settings>
            <setting name="ServerInstance" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioComercial" serializeAs="String">
                <value>SUPERVISOR</value>
            </setting>
            <setting name="UsuarioContabilidad" serializeAs="String">
                <value>SUPERVISOR</value>
            </setting>
            <setting name="PasswordComercial" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordContabilidad" serializeAs="String">
                <value />
            </setting>
            <setting name="HasContabilidad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SDKDirectory" serializeAs="String">
                <value>C:\Program Files (x86)\Compac\COMERCIAL</value>
            </setting>
        </Traspaso_de_Existencias.Properties.Settings>
    </userSettings>
</configuration>